@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container" style="background-color: #F8F8F9; width: 700px; border: none; ">
        <div class="d-flex">
            <span>SWAP </span>
            <div style="flex-grow: 1"></div>
            <i class="bi bi-gear" style="font-size:20px;color:black; "></i>
        </div>
        <div class="container" style="border: none; background-color:#FFFFFF">
            <div class="d-flex">
                <span>From</span>
                <div style="flex-grow:1"></div>
                <span>Use Max</span>
            </div>
            <div class="d-flex">
                <span>
                    0
                </span>

                <div style="flex-grow:1"></div>
                <div class="bn-input-md ">
                    <img src="~/css/img/eth.png" style="width:30px; height:30px">
                    <input data-bn-type="input" value="ETH" style="text-align:left; width:70px;border:none" />
                   
                </div><br />


            </div>
            <p style="text-align: left; color: darkgray">Balance:0.00</p>

        </div>
        <div>
            <button style="border: none; border-radius: 30px/80px; position:absolute; top:calc(21% - 40px/2) ; height:40px;width:56px"> <i class="bi bi-arrow-down-up" style="font-size:20px;color:black; "></i></button>
        </div> 
        <div class="container" style="border: none; background-color: #FFFFFF">
            <div class="d-flex">
                <span>To</span>
                <div style="flex-grow:1"></div>
                <span></span>
            </div>
            <div class="d-flex">
                <span>
                    0
                </span>

                <div style="flex-grow:1"></div>
                <div class="bn-input-md ">
                    <img src="~/css/img/BNB.png" style="width:30px; height:30px">
                    <input data-bn-type="input" value="BNB" style="text-align:left; width:70px ; border:none" />
                </div><br />


            </div>
            <p style="text-align: left; color: darkgray">Balance:0.00</p>

        </div>
        <div class="d-flex">
            <span>slippage Tolerance</span>
            <div style="flex-grow:1"></div>
            <span>1%</span>

        </div>
        <div>
            <button onclick="alert('Hello ')" style="color:darkgray; width: 650px; height: 70px; border: none">Enter A Mount</button>
        </div><br />

    </div>


</div>
