@{
    ViewData["Title"] = "Home Page";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<div class="text-center">
    <div class="container" style="background-color: #F8F8F9; width: 700px; border: none; ">
        <div class="d-flex">
            <span>SWAP </span>
            <div style="flex-grow: 1"></div>

            <!--Button setting-->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mySetting" style="background-color: #f2f2f2">
                <i class="bi bi-gear" style="font-size:20px;color:black; "></i>
            </button>
            <!--0000-->

        </div>
        <div class="container" style="border: none; background-color:#FFFFFF">
            <div class="d-flex">
                <span>From</span>
                <div style="flex-grow:1"></div>
                <span>Use Max</span>
            </div>
            <div class="d-flex">
                <span>
                    0
                </span>

                <div style="flex-grow:1"></div>
                <!--Button Select Token-->
                <div class="bn-input-md ">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myToken" style="background-color: #f2f2f2">
                        <img src="~/css/img/eth.png" style="width:30px; height:30px">
                    </button>
                 <!--00000000-->  
                    <input data-bn-type="input" value="ETH" style="text-align:left; width:70px;border:none" />

                </div><br />


            </div>
            <p style="text-align: left; color: darkgray">Balance:0.00</p>

        </div>
        <div>
            <button style="border: none; border-radius: 30px/80px; position:absolute; top:calc(29% - 40px/2) ; height:40px;width:56px"> <i class="bi bi-arrow-down-up" style="font-size:20px;color:black; "></i></button>
        </div>
        <div class="container" style="border: none; background-color: #FFFFFF">
            <div class="d-flex">
                <span>To</span>
                <div style="flex-grow:1"></div>
                <span></span>
            </div>
            <div class="d-flex">
                <span>
                    0
                </span>

                <div style="flex-grow:1"></div>
                <div class="bn-input-md ">
                    <img src="~/css/img/BNB.png" style="width:30px; height:30px">
                    <input data-bn-type="input" value="BNB" style="text-align:left; width:70px ; border:none" />
                </div><br />
            </div>
            <p style="text-align: left; color: darkgray">Balance:0.00</p>

        </div>
        <div class="d-flex">
            <span>slippage Tolerance</span>
            <div style="flex-grow:1"></div>
            <span>1%</span>

        </div>
        <div>
            <button onclick="alert('Hello ')" style="color:darkgray; width: 650px; height: 70px; border: none">Enter A Mount</button>
        </div><br />

    </div>
    <br /><br />


 <!--Modal Setting-->
    <div class="modal" id="mySetting">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <!--Transaction Setting-->
                    <p style="font-size:20px; text-align:left">Transaction Setting</p>
                    <div class="container d-flex ">
                        <div>
                            <p style=" margin-right: 200px">Slippage tolerance</p>
                        </div>
                        <div>
                            <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Your transaction will revert if the price changes
                               unfavorably">
                                <i class='far fa-question-circle' style='font-size:24px'></i>
                            </a>
                        </div>
                    </div>

                    <div class="container d-flex" style="width:100%">
                        <button style="margin-right: 10px; border-radius: 10px; position: static; border: none;">0.1%</button>
                        <button style="margin-right: 10px; border-radius: 10px; position: static; border: none;">0.5%</button>
                        <button style="margin-right: 10px; border-radius: 10px; position: static; border: none;"> 1%</button>
                        <input type="text" placeholder="1.00%" style="width: 70px; margin-right: 10px; border-radius: 10px; position: static; border: none;">
                    </div>
                    <br />
                    <!--Transaction dealine-->
                    <div class="container d-flex">
                        <div>
                            <p style=" margin-right: 200px">Transaction dealine</p>
                        </div>
                        <div>
                            <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Your transaction will revert if it is pending
                               for more than this long">
                                <i class='far fa-question-circle' style='font-size:24px'></i>
                            </a>
                        </div>

                    </div>
                    <div class="container d-flex" style="width:100%">
                        <input class="btn-st" type="text" placeholder="20" style="width:100px; height:30px"> &nbsp;
                        <p>minutes</p>
                    </div>

                    <!--Interface Setting-->
                    <p style="font-size:20px; text-align:left"> Interface Setting</p>
                    <!--Transaction dealine-->
                    <div class="container d-flex">
                        <div>
                            <p style=" margin-right: 200px">Transaction dealine</p>
                        </div>
                        <div>
                            <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Bypasses confirmation modals and allows
                               high slippage trades. Use at your own risk">
                                <i class='far fa-question-circle' style='font-size:24px'></i>
                            </a>
                        </div>
                        &nbsp;
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>

                    <!--Disable multihops-->
                    <div class="container d-flex">
                        <div>
                            <p style=" margin-right: 200px">Disable multihops</p>
                        </div>
                        <div>
                            <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Restricts swaps to direct pairt only">
                                <i class='far fa-question-circle' style='font-size:24px;'></i>
                            </a>
                        </div>
                        &nbsp;
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <!--Tooltip-->
                <script>
                    // Initialize tooltips
                    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                        return new bootstrap.Tooltip(tooltipTriggerEl)
                    })
                </script>
                <!--0000000000-->
            </div>
        </div>
    </div>
</div>

<!--Select a Token -->
<div class="modal" id="myToken">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #e6e6e6">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Select a Token</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <!--Search-->
                <div class="mt-3 inputs">
                    <input type="text" class="form-control " placeholder="Search ">
                </div>
                <!--List Token-->
                <!--ETH-->
                <div class="mt-3" style="background-color: #FFFFFF; border-radius: 8px; align-items: center; position: static; height: auto">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row align-items-center">
                            <span class="star">  <img src="~/css/img/eth.png" style="width:30px; height:30px"> </span>
                            <div class="d-flex flex-column">
                                <span>ETH</span>
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <span>4.8729</span>
                            <div class="d-flex flex-row align-items-center time-text">
                                <small>ETH</small>
                            </div>
                        </div>

                    </div>
                </div>
                <!--AC3-->
                <div class="mt-3" style="background-color: #FFFFFF; border-radius: 8px; align-items: center; position: static; height: auto">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row align-items-center">
                            <span class="star">  <img src="~/css/img/AC3.png" style="width:30px; height:30px"> </span>
                            <div class="d-flex flex-column">
                                <span>AC3</span>
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <span>0</span>
                            <div class="d-flex flex-row align-items-center time-text">
                                <small>AC3</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!--ALQO-->
                <div class="mt-3" style="background-color: #FFFFFF; border-radius: 8px; align-items: center; position: static; height: auto">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row align-items-center">
                            <span class="star">  <img src="~/css/img/alqo.png" style="width:30px; height:30px"> </span>
                            <div class="d-flex flex-column">
                                <span>ALQO</span>
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <span>0</span>
                            <div class="d-flex flex-row align-items-center time-text">
                                <small>XLQ</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Aion-->
                <div class="mt-3" style="background-color: #FFFFFF; border-radius: 8px; align-items: center; position: static; height: auto">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row align-items-center">
                            <span class="star">  <img src="~/css/img/Aion.png" style="width:30px; height:30px"> </span>
                            <div class="d-flex flex-column">
                                <span>Aion</span>
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <span>0</span>
                            <div class="d-flex flex-row align-items-center time-text">
                                <small>AION</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Ampl-->
                <div class="mt-3" style="background-color: #FFFFFF; border-radius: 8px; align-items: center; position: static; height: auto">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row align-items-center">
                            <span class="star">  <img src="~/css/img/ampl.png" style="width:30px; height:30px"> </span>
                            <div class="d-flex flex-column">
                                <span>AMPL (Ampleforth) </span>
                                <div class="d-flex flex-row align-items-center time-text">
                                    <small>via Coid Geko</small>
                                </div>
                            </div>

                        </div>
                        <div class="d-flex flex-column">
                            <button style="border-radius: 8px; position: static; margin: 0px 23px; color: #F5FA80; border: none; width: 70%; background-color: #000000; height: 29px ">Import</button>
                        </div>
                    </div>
                </div>
                <!--Amplg-->
                <div class="mt-3" style="background-color: #FFFFFF; border-radius: 8px; align-items: center; position: static; height: auto">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row align-items-center">
                            <span class="star">  <img src="~/css/img/amplg.png" style="width:30px; height:30px"> </span>
                            <div class="d-flex flex-column">
                                <span>AMPL (Amplegold) </span>
                                <div class="d-flex flex-row align-items-center time-text">
                                    <small>via Kleros Token</small>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <button class="btn btn-primary " data-bs-target="#ImportToken" data-bs-toggle="modal" style="border-radius: 8px; position: static; margin: 0px 23px; color: #F5FA80; border: none; width: 70%; background-color: #000000; height: 29px;">Import</button>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal"><i class='fas fa-pen'>&nbsp;Manage</i></button>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Import Token-->
    <div class="modal fade" id="ImportToken" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content" style="">
                <div class="modal-header d-flex" style="text-align: left; background-color: white">

                    <button data-bs-target="#myToken" data-bs-toggle="modal" style="border:none"><i class='fas fa-arrow-left'> &emsp; Import token</i></button>
                    <div style="flex-grow:1"></div>
                    <button  style="border:none"><i class="bi bi-x-lg"></i></button>
                </div>
                <div class="modal-body">
                    <div class="mt-3" style="background-color: #f2f2f2; border-radius: 8px; align-items: center; position: static; height: auto; width: 100%">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-row align-items-center">
                                <span class="star">  <img src="~/css/img/amplg.png" style="width:30px; height:30px"> </span>
                                <div class="d-flex flex-column">
                                    <span>AMPL (Amplegold) </span>
                                    <div class="d-flex flex-row align-items-center time-text">
                                        <small style="color: #5cd6d6;font-size:8px">sd1a32sd132q1w2e3q15we45sfsdf54s132a</small>
                                    </div>
                                    <div class="d-flex flex-row align-items-center time-text">
                                        <small>via Kleros Token &emsp;<img src="~/css/img/long1.jpg" style="width:20px; height:20px"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="mt-3 container" style="background-color: #f2f2f2;width:100%; border-radius: 8px; align-items: center; position: static; height: auto;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-column align-items-center ">
                                
                                <div class="d-flex flex-column warning  " style="margin-left:35px">
                                    <span style="color:orange; font-size:60px; margin:0 auto"><i class="bi bi-exclamation-triangle"></i> </span>
                                    <div class="d-flex flex-row align-items-center time-text">
                                        <small style="color:orange; font-size:20px">Trade at your own risk!</small>
                                    </div>
                                </div>
                                <br />
                                <div cl>
                                    <span>Anyone can create a token , including creating fake versions of existing tokens that claim to represent projects . if you you purchases this token , you may not be able to sell it back </span>
                                </div>
                                <div>
                                    <span class="spancheckbox" onclick="this.innerHTML = (this.innerHTML ? '' : '✓')"></span>
                                    <label > I Understand</label>
                                </div>
                               

                            </div>
                        </div>
                    </div>

                </div>
                    
                <div class="modal-footer">
                    <button style="border-radius: 8px; position: static; margin: 0px 30px; color: #F5FA80; border: none; width: 90%; background-color: #000000; height: 45px; font-size:20px ">Import</button>
                </div>
            </div>
        </div>
    </div>