@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <div class="container" style="background-color: #F8F8F9; width: 600px; border: none;  position: static; ">
        <div class="d-flex">
            <span style="font-size:initial;"> &emsp;Connect to Wallet</span>
            <div class="flex-grow-1"></div>
            <i class="bi bi-x-lg" style="font-size:20px;color:black; "></i>&emsp;

        </div>

        <div class="container" style="border-radius: 30px/80px;border:1px solid black; background: white; width:500px;height:40px;top:auto">
            <div class="d-flex">
                <span>Cryptooly</span>
                <div class="flex-grow-1"></div>
                <img src="~/css/img/cyrptool.jpg" style="width:30px; height:30px">
            </div>



        </div><br />
        <div class="container" style="border-radius: 30px/80px; border: 1px solid black; background: white; width: 500px; height: 40px; top: auto">
            <div class="d-flex">
                <span>WalletConnect</span>
                <div class="flex-grow-1"></div>
                <img src="~/css/img/Wallet-Connect.jpg" style="width:30px; height:30px">
            </div>



        </div><br />
        <div class="container" style="border-radius: 30px/80px; border: 1px solid black; background: white; width: 500px; height: 40px; top: auto">
            <div class="d-flex">
                <span>Coinbase Wallet</span>
                <div class="flex-grow-1"></div>
                <img src="~/css/img/Coinbase.png" style="width:30px; height:30px">
            </div>



        </div><br />
        <div class="container" style="border-radius: 30px/80px; border: 1px solid black; background: white; width: 500px; height: 40px; top: auto">
            <div class="d-flex">
                <span>Formatic</span>
                <div class="flex-grow-1"></div>
                <img src="~/css/img/Fortmatic.png" style="width:30px; height:30px">
            </div>



        </div><br />
        <div class="container" style="border-radius: 30px/80px; border: 1px solid black; background: white; width: 500px; height: 40px; top: auto">
            <div class="d-flex">
                <span>Portis</span>
                <div class="flex-grow-1"></div>
                <img src="~/css/img/Portis.png" style="width:30px; height:30px">
            </div>



        </div><br />

        <div class="container">
            <span>
                New To Ethereum?
            </span>
            <a href="#" style="color: #79CDCD">learn more abour wallets</a>
        </div>

    </div>
    


</div>
