<div class="text-center">
    <div class="container">
        <img src="~/css/img/cooltext406954843059334.gif" style="width:400px; height:100px">
    </div>
    <div class="container" style="background-color: #E5E5E5; width: 700px; border: none; ">
        <div class="d-flex" style=" display: flex; flex-direction: column; ">
            <a>Welcom To Cryptool</a>
            <p style="font-weight:200">The decentralized web awaits</p>


            <div>
                <div class="form-group">

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="ipnPassword" placeholder="Nhập Mật Khẩu" required />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="btnPassword">
                                <span class="fas fa-eye"></span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <button class="btn1">  Unlock </button><br />
          
            <a>Retore Account?</a><br />
            <a>Import Using Account Seedphrase</a><br />


        </div>
       


    </div>


</div> 