<div class="text-center">
    <div class="container">
        <img src="~/css/img/cooltext406954843059334.gif" style="width:400px; height:100px">
    </div>
    <div class="container" style="background-color: #E5E5E5; width: 700px; border: none; ">
        <div class="d-flex" style=" display: flex; flex-direction: column; ">
            <a>Connect To Swaplux</a>
            <p style="font-weight:200">Select the account(s)</p>

                <div class="d-flex">
                    <div class="d-flex" style=" display: flex; flex-direction: column;">

                                
                    </div>
                    <div style="flex-grow:1"></div>
                    <div>

                    </div>

                </div>
           
            
            <a>Retore Account?</a><br />
            <a>Import Using Account Seedphrase</a><br />


        </div>



    </div>


</div> 