<div class="text-center">
    <div class="container">
        <img src="~/css/img/cooltext406954843059334.gif" style="width:400px; height:100px">
    </div>
    <div class="container" style="background-color: #E5E5E5; width: 700px; border: none; ">
        <div class="d-flex" style=" display: flex; flex-direction: column; ">
            <a>Connect To Swaplux</a>
            <p style="font-weight:200">Select the account(s)</p>

            <div class="container d-flex nck1" style="background-color: #FFFFFF;border-radius:8px; align-items:center;position:static;height:auto">
                <div>
                    <img src="~/css/img/bear.jpg" style="width:30px; height:30px">
                </div>&nbsp;
                <div class="d-flex" style=" display: flex; flex-direction: column;">
                    <p style="font-size:20px">Queen  Bee</p>

                    <a style="color: gainsboro; position: absolute; top: calc(38% - 20px/2);">bc1q87...34pm</a>


                </div>
                <div style="flex-grow:1"></div>
                <div>

                    <input type="checkbox" id="c1" name="cc" style="width: 20px; height: 20px;  border: 1.5px solid #53AE57;" />
                </div>

            </div><br />
            <div class="container d-flex nck1" style="background-color: #FFFFFF;border-radius:8px; align-items:center;position:static;height:auto">
                <div>
                    <img src="~/css/img/fish.jpg" style="width:30px; height:30px">
                </div>&nbsp;
                <div class="d-flex" style=" display: flex; flex-direction: column;">
                    <p style="font-size:20px">Queen  Bee</p>

                    <a style="color: gainsboro; position: absolute; top: calc(51.5% - 20px/2);">3g78pk...sd42</a>


                </div>
                <div style="flex-grow:1"></div>
                <div>

                    <input type="checkbox" id="c1" name="cc" style="width: 20px; height: 20px;  border: 1.5px solid #53AE57;" />
                </div>

            </div><br />
            <div class="container d-flex nck1" style="background-color: #FFFFFF;border-radius:8px; align-items:center;position:static;height:auto">
                <div>
                    <img src="~/css/img/tho.jpg" style="width:30px; height:30px">
                </div>&nbsp;
                <div class="d-flex" style=" display: flex; flex-direction: column;">
                    <p style="font-size:20px">Queen  Bee</p>

                    <a style="color: gainsboro; position: absolute; top: calc(65% - 20px/2);">OxBBB...e96e</a>


                </div>
                <div style="flex-grow:1"></div>
                <div>

                    <input type="checkbox" id="c1" name="cc" style="width: 20px; height: 20px;  border: 1.5px solid #53AE57;" />
                </div>

            </div> <br />
                   <div class="container d-flex">
                       <input type="checkbox" id="c1" name="cc" style="width: 20px; height: 20px;  border: 1.5px solid #53AE57;" />
                       &emsp;<a>Allow this site View the addresses of your authorized accounts(requined)</a>

                   </div><br />


            <div class="container d-flex" style="width:100%">
                <button style="border-radius: 8px; position: static; margin: 0px 10px; color: #000000; border: none;width:50%;height:40px">Cancel</button>

                <button style="border-radius: 8px; position: static; margin: 0px 10px; color: #F5FA80; border: none; width: 50%; background-color: #000000; height: 40px ">Connect</button>

            </div> <br />           
             <br />           


        </div>



    </div>


</div> 