/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #F5FA80;
    background-color: #000000;
    border: none;
    border-radius: 20px/70px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.warning {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:500px;
}
.spancheckbox {
    display: inline-block;
    width: 15px;
    height: 15px;
    font: 15px/15px 'Sans Serif';
    color: yellow;
    border: solid 1px black;
    vertical-align: middle;
    cursor: pointer;
    background-color: black;
}
.btnspan1 {
    border-radius: 12px;
    border: none;
    background: rgb(255, 255, 255);
    display: flex;
    width: fit-content;
    cursor: pointer;
    outline: none;
    padding: 2px;
}
.spanbutton1 {
    padding: 0.25rem 0.6rem;
    border-radius: 9px;
    background: rgb(232, 0, 111);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
}
.spanbutton2 {
    padding: 0.25rem 0.6rem;
    border-radius: 9px;
    background: none;
    color: rgb(86, 90, 105);
    font-size: 14px;
    font-weight: 400;
}


.scrollbar1 {
    background-color: #F5F5F5;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 90%;
    overflow-y: scroll;
    border-radius: 8px;
}

.force-overflow {
    min-height: 340px;
    border-radius: 8px;
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    background-color: GRAY;
    width: 6px;
    border-radius: 8px;
}
input[type=text] {
    width: 92%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}