.btn1 {
    color: #F5FA80;
    background-color: #000000;
    border: none;
    border-radius: 20px/70px;
    height:40px;
}
.nck1 {
    flex:none;
    order:0;
    flex-grow:0;
    margin:16px 0px;
}
.nck2 {
    position: absolute;
    top: calc(21% - 40px/2);
}

/*Setting*/
.btn-st {
    margin-right: 10px;
    border-radius: 10px;
    position: static;
    border: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.star {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    margin-right: 10px;
    border-radius: 5px
}
.btnImport {
    border-radius: 8px;
    position: static;
    margin: 0px 23px;
    color: #F5FA80;
    border: none;
    width: 70%;
    background-color: #000000;
    height: 29px;
}

.slider1.round {
    border-radius: 34px;
}

    .slider1.round:before {
        border-radius: 50%;
    }
input:checked + .slider1 {
    background-color: black;
}
input:focus + .slider1 {
    box-shadow: 0 0 1px #2196F3;
}
.switch1 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch1 input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider1 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider1:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #FFFF00;
        
        -webkit-transition: .4s;
        transition: .4s;
    }
input:checked + .slider1:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/*Chuyen tab trong Manage*/

/* định dạng thẻ div chưa các button tab */
div.tabManage {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* định dạng các button tab */
    div.tabManage button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* đổi màu khi một button tab được hover */
        div.tabManage button:hover {
            background-color: #ccc;
        }

        /* đổi màu nền cho tab đang được hiển thị nội dung */
        div.tabManage button.active {
            background-color: #000000;
            color:#FFFF00;
        }

/* định dạng nội dung hiển thị */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/*000000000000000000000000000000000000*/


/* Tab Links */
.tabs {
    display: flex;
}

.TabLinks {
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.2s ease;
    border-radius:10px;
}

    .TabLinks:hover {
        background: #ccc;
        color: #fff;
    }
    /* Tab active */
    .TabLinks.active {
        background: #000000;
        color: #ffff00;
    }

/* tab content */
.TabContent {
    display: none;
}
    /* Text*/
    .TabContent p {
        color: #333;
        font-size: 16px;
    }
    /* tab content active */
    .TabContent.active {
        display: block;
    }